<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee updated</title>
</head>
<body>

<h1>An employee has been successfully updated</h1>

<h2>Before:</h2>
<p th:text="'First name: ' + ${firstName}"></p>
<p th:text="'Last name: ' + ${lastName}"></p>
<p th:text="'Email: ' + ${email}"></p>

<h2>After:</h2>
<p th:text="'First name: ' + ${newFirstName}"></p>
<p th:text="'Last name: ' + ${newLastName}"></p>
<p th:text="'Email: ' + ${newEmail}"></p>
</body>
</html>